<table id="sig" width='400' cellspacing='0' cellpadding='0' border-spacing='0' class='container-table' style="width:400px;margin:0;padding:0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
  <tr>
    <td width="28%" style="width:28%;margin:0;padding:0; text-align: center">
      <a href='https://francaviglia.business.site/' title="Vai al sito" style="border:none;text-decoration:none;">
        <img moz-do-not-send="true" src="https://lh3.googleusercontent.com/U92_jyVqHhhpg-830pLCcyf1cVuejE8dCHExpXFu5QGgDN95vpkiJcxr60H8ncQjryCsF2ZDakNpVND-6D4ZK5-ZfmdmPZtVsYuBIz7t5pfdlxXj-qkDuz3FPBx-aW2Cg0vDZVGh0yJ3CZ7pnpZ11gXMj39CUq9KtFredz55AFU8xQuZ3ONmGLiP5mxPo4a_QvHTxrQ2G_GuuiFGoS7kbOVfaaf8NaSFMpgB_6JCoCjLXVq4X83moCyfMO4F2LZOaslpyjnKYVwfnDVWnovxM8nA61wvjp_qFXBhOtVzhs8SoJxioHv5Q-wfnNcJdOeexY1yIBAWGJ3QBrKGljvgK9Pam-FkolYfXBt61V7fZ0VQU5Ah2Nd6TyPRLZLwlUrYiC9c0zn2ctEjMXc-AEj87o5DxkM-iKKkTyA_khWEO2QlM7qV22lA8HAZLuJg-rb56z9G_o8QT0sx8NCWHZAiuPlad8I0d9Jn5zVUVUbcKOWt_6N5Z1mnhXEWwRl5VJmxy_uf6Ck_18rulr0U-3x4VrCkspkFpidbu1oR1aA3J7iN8LMLqc9Rx1nYosBAWF_9lTC-5Yo5Ho-L86M4UiDKAxrMWUXTKpPJ8DNzcFegU36FGouzNJf3vAPtwEiSCH7gANmW5eILi_emXQxVq54y-IGfaGNwxVr28BbJ5ORNw9HGytjqnSclcmzvBmkf=w380-h355-no"
        alt="Francaviglia logo" style="border:none; width: calc(100% - 30px); height:auto;">
      </a>
    </td>
    <td width="2px" style="background-color: #2c626f">

    </td>

    <td width="10" style="width:10px;min-width:10px;max-width:10px;margin:0;padding:0;">&nbsp;</td>

    <td style="margin:0;padding:0;">
<table cellspacing='0' cellpadding='0' border-spacing='0' style="font-size: 12px; word-break: break-word;">
  <tr style="width: 100%; margin:0; padding:0;" >
  <td colspan="2" style="color: #2c626f; font-weight: bold; font-size: 18px; padding-bottom: 2px">Dott. Diego Francaviglia</td></tr>
  <tr style="width: 100%; margin:0; padding:0;" >
    <td colspan="2" style="color: #2c626f; font-weight: bold; font-size: 12px; padding-bottom: 8px; font-weight: bold;">Agente generale</td></tr>
  <tr style="width: 100%; margin:0; padding:0;">
    <td style="width: 7%;  margin:0; padding:0; color: #2c626f; font-weight: bold; max-width: 25px">A:</td>
    <td style="width: auto; margin:0; padding:0; color:#828282">Assicurazioni Francaviglia</td>
    </tr>
    <tr style="width: 100%; margin:0; padding:0;">
      <td style="width: 7%;  margin:0; padding:0; color: #2c626f; font-weight: bold">&nbsp;</td>
      <td style="width: auto; margin:0; padding:0; color:#828282;">Via Jacopo da Corte 4, 35028 Piove di Sacco PD</td>
      </tr>
    <tr>
      <td style="color: #2c626f; font-weight: bold">M:</td>
      <td style="color:#828282;">392 1534124</td>
      </tr>
      <tr>
        <td style="color: #2c626f; font-weight: bold">U:</td>
        <td style="color:#828282;">049 5840913</td>
        </tr>
        <tr>
          <td style="color: #2c626f; font-weight: bold">M:</td>
          <td style="color:#828282;">https://francaviglia.business.site</td>
          </tr>
          <tr>
            <td colspan="2" style="padding-top: 8px">
              <a href='https://francaviglia.business.site/' title="Facebook" style="border:none;text-decoration:none;">
                <img moz-do-not-send="true" src="https://lh3.googleusercontent.com/fu-YuBbfW1jsFBxcSjO8neLkc4Gow70bvpRFz5fniAGdlqZaVSZQHuN0sjE-6In9ZJ4Givr9C7d1drgZX3s7jHyBjSjCyie9GjaubrqMzLn_EipS5XKzAmG-jc1hQ6OnI48H1_qvNFXW3Hkf9adibxoIyW_Mujj-fgR5TQLyqEfbWEzgYl-AePPbSuGZoJCClgCmQYsSZgLaS4Wz2W2V5mImQgNXKe1MJ8JK51Ki9HoQqcLi_uHBIDJ_CwW0zkfBkIouvHIgfTo2AdJfzlRMspl8B_pfjbLmJCWhrpOEUHXofCvWBy8RLr-_PYrL4_Cqm2dO_gsmWP4iU8hjcTzt0V7MM_B8_z2OyftzyVDZpo660S7lBw4EpRAGcuIiYKw7P8YnVA7hXiDRyAhFW4ZQJSGW4EKqWRV0Yo3VRS-4fO4x-w1__9Rb70m9F1AsZlNE-SqYeoWqlPwVuiW6HuVaBgAyZnUkw6JLdPw-2AiU5NQinhZDeM3D8DUT4Klk53CTWn0ens4hnS-m14ydcsS0yqKA3i_b0BOJgOOQed5p_4LaGqOqxo12dY18wDF3fCtaAnMea_mjgzm-bEaYLULDF2JWQ7mUDbP1E8EzNbviiixvKhxyvZ5_nEfPNkDfTAtnilpO4VIVKVAy9bXDhZ-SEe4Z91FU60PpQMj0AVbs-jG0A4KQtQOCw47fLTcT=s24-no"
                alt="Fb link" style="border:none; width: 18px; height:auto; margin-right: 2px">
              </a>
              <a href='https://francaviglia.business.site/' title="Linkedin" style="border:none;text-decoration:none;">
                <img moz-do-not-send="true" src="https://lh3.googleusercontent.com/DExPfMsI9U88wUbsyeM923rvcJkJ0V-FCWqnCO0TSlKtDXnVPqcnDxrWM-95BGccpDX0h3JSWv8cldwz-xMs0RXupgjUY81_6kfvAuVbmbWFkOcAJa4GHl4IAauH59lLKwZDVHX3piLoCmqugE9e59IeIO0FoLxMxIO-cOUZd-QcIKWOvG1h4LmH-GM6nrowXrMkjZ8ytEY3y8Lxj4-Ei4_2s5EB5XJMwzrPYwW6hrZulap4uusAJojxCMB5OfP4sueBOhyLTN12_p_vkuFYK30b2R84g7BbLwUa-k25arYLxJ3fUgro3VntABjE73-2eny6GiJthSB_9YWLK4gTMYDAWrzRlqsy2nABI-d4Da0iHQG9AiuVtCqlekCWMKi7sZ8_EIroV2XinNEfDKbu1BZMRr8LChtZgSoPGSmtVDinWcbtTPFlbJlgcbe_EF2Ofnruzg3CIUvFDTMJnMExh9GSQapZth9sFfmyuxc9uFju4W4clNCPe2DZf1MSqtKZPeaE5d2O5UnPmndvHwhipTzBl_hNjQieOhw9cEt9R3TW-hfV7hxRC3VDhELc2190JLgdfzGelhqs4lPxkN3_m7S3cE3QgTjJI0-sMcHXyNAKUAh63TdeGDU7rqHfPz1W28IFFgRQ4EcbpSFqo1eFtEUBItyr6UZ3RTNgftzqz5HsrNSXm6rsjAUGYXzK=s24-no"
                alt="Linkedin link" style="border:none; width: 18px; height:auto; margin-right: 2px">
              </a>
            </td>
            </tr>
</table>

    </td>
  </tr>
</table>
<br />
&nbsp;